Client/Connected Services/ServiceReference1/FlightsWCFForExam.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightsWCFForExam" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightsWCFForExam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Departure" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
</xs:schema>