Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FlightsWCFForExam" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AllFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:AllFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_AllFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindFlightByNR_InputMessage">
    <wsdl:part name="parameters" element="tns:FindFlightByNR" />
  </wsdl:message>
  <wsdl:message name="IService1_FindFlightByNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindFlightByNRResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFlightsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AllFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllFlights" message="tns:IService1_AllFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllFlightsResponse" message="tns:IService1_AllFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindFlightByNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindFlightByNR" message="tns:IService1_FindFlightByNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindFlightByNRResponse" message="tns:IService1_FindFlightByNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeFlights" message="tns:IService1_ChangeFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeFlightsResponse" message="tns:IService1_ChangeFlights_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/AllFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFlightByNR">
      <soap:operation soapAction="http://tempuri.org/IService1/FindFlightByNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FlightsWCFForExam/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>